{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="user-scalable = yes">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
      <script type='text/javascript' src="{% static 'js/switcher.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/style-switch.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/horizontal.css' %}"/>
      <link rel='stylesheet' id='style-css'  href="{% static 'css/slider.css' %}" type='text/css' media='all'/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-combined.min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/webticker.css' %} " type="text/css" media="screen"/>
      <title>News time</title>
      <style type="text/css">
         body{
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 400;
         }
         .nav-tabs > li > a.blnone{border-left:none !important;}
         .nav-tabs > li > a.brnone{border-right:none !important;}	
      </style>
      <script type="text/javascript">
         /*this is slider triger and useing only slider pages*/
         $(function(){
         "use strict";
         	$('.pix_diapo').diapo();
         });
         $(function(){
         "use strict";
         	$('.link').tooltip()
         });
      </script>
   </head>
   <body>
      <!--=======================================TOP NAV=================================================-->
      
      <!--================================================================================================-->
      <!--========================================LOGO AND AD=================================================-->
      <div class="container header clearfix">
         <div class="logo pull-left">
            <a href="/">
            Farmers Prediction
            </a>
         </div>
         <div class="header-ad pull-right">
            <img src="images/header-ad_03.png" alt="header ad" />
         </div>
      </div>
      <!--================================================================================================-->
      <!--=========================================MAIN NAV===============================================-->
      <div class="main-nav">
         <div class="navbar navbar-inverse">
            <div class="navbar-inner">
               <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <div class="nav-collapse collapse">
                     <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'mainapp:map_filter' %}">tempereture max Prediction</a></li>
                        <li><a href="{% url 'mainapp:precipitation_prediction' %}">precipitation prediction</a></li>

                      
                     </ul>
                  </div>
                  <!--/.nav-collapse -->
               </div>
            </div>
         </div>
      </div>
      <!--================================================================================================-->
      <!--========================================MAIN CONTAINER============================================-->
      <!--================================================================================================-->
      <div class="container">
         <div>
            <form style="display:flex;" method="POST" action="{% url 'mainapp:map_filter' %}">
               {% csrf_token %} 
              
               <div style="margin-left: 5px;padding: 5px;">
                  <label for="startdate">Start Date</label>
                  <input name="startdate" type="date" id="startdate" name="birthday">

               </div>
                <div style="margin-left: 5px;padding: 5px;">
                   <label for="enddate">End Date</label>
                  <input name="enddate" type="date" id="enddate" name="birthday">

                </div>
                <input style="margin-left: 5px;padding: 5px;" type="submit" class="btn btn-primary">Submit</input>
            </form>
         </div>

         <canvas id="myChart" width="400" height="100"></canvas>
         
         
         <!--=========================================NEWS TICKER=========================================-->
       
         <!--two sidebar's container end-->
      </div>
      <!--==============================================END MAIN CONTAINER=========================================-->
      
      <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         
         ga('create', 'UA-46720718-1', 'joinwebs.org');
         ga('send', 'pageview');
         
      </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
   const ctx = document.getElementById('myChart').getContext('2d');
   const myChart = new Chart(ctx, {
       type: 'line',
       data: {
           labels: [{% for n in x_data %} '{{n}}', {% endfor %}],
           datasets: [{
               label: 'Precipitation',
               data: [{% for n in y_data %} {{n}}, {% endfor %}],
               backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });
   </script>
   
   
<body>

   </body>
</html>